<h1 align="center">SkeletonAPP</h1>
<p align="center">Aquí comienza todo</p>
<ion-content class="ion-padding">
<br>
<h2 align="center">Bienvenido!</h2>

<form [formGroup]="loginForm">
  <ion-item class="transparent-input">
    <ion-input [(ngModel)]="usuarioValue" formControlName="usuario" id="inputUsuario" style="font-size: 20px;" label="Nombre de Usuario" labelPlacement="floating" placeholder=""></ion-input>
  </ion-item>
  <br>
  <ion-item class="transparent-input">
    <ion-input [(ngModel)]="contrasenaValue" formControlName="contraseña" id="inputContraseña" style="font-size: 20px;" label="Contraseña" labelPlacement="floating" placeholder="" type="password"></ion-input>
  </ion-item>
</form>


<br>
<div class="ion-text-center">
  <ion-button expand="block" (click)="Login()">Ingresar</ion-button>
</div>
<ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-center">
        <ion-button fill="clear" [routerLink]="['/registro']">Crea tu cuenta gratis</ion-button>
      </div>
    </ion-col>
    <ion-col>
      <div class="ion-text-center">
        <ion-button fill="clear" [routerLink]="['/password']">Olvidó su contraseña?</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
