<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h1>it works</h1>

    <ion-button (click)=takePhoto()>Foto</ion-button>


    <ion-card>
        <ion-img [src]="usuarioRegistrado.foto"></ion-img>
      <ion-card-header>
        <ion-card-title>Datos de usuario</ion-card-title>
        <ion-card-subtitle>Nombre: {{ usuarioRegistrado.nombre }} {{ usuarioRegistrado.apellido }}</ion-card-subtitle>
        <ion-card-subtitle>Rut: {{ usuarioRegistrado.rut }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    
  </div>
</ion-content>
