<ion-content class="ion-padding">
  <h1 align="center">Reestablecer contraseña</h1>
  <br><br>
  <h4>Ingrese el correo asociado a su cuenta:</h4>
  <ion-item class="transparent-input">
    <ion-input [(ngModel)]="correoInput" style="font-size: 20px;" label="Correo electrónico" labelPlacement="floating" placeholder="" id="emailInput"></ion-input>
  </ion-item>
  <ion-item class="transparent-input">
    <ion-input [(ngModel)]="contrasenaInput" style="font-size: 20px;" label="Nueva contraseña" labelPlacement="floating" placeholder="" id="newPasswordInput"></ion-input>
  </ion-item>
  <ion-item class="transparent-input">
    <ion-input [(ngModel)]="confcontrasenaInput" style="font-size: 20px;" label="Confirmar nueva contraseña" labelPlacement="floating" placeholder="" id="confirmNewPasswordInput"></ion-input>
  </ion-item>
  <br><br><br><br>
  <div class="ion-text-center">
    <ion-button expand="block" onclick="cambiarContraseña()">Cambiar contraseña</ion-button>
  </div>
  <div class="ion-text-center">
    <ion-button fill="clear" [routerLink]="['/login']">Volver</ion-button>
  </div>
</ion-content>
