<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Clase Registrada!</ion-card-title>
      <ion-card-subtitle>Informacion de la clase: {{ informacionQR }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="usuarioRegistrado">
        <h1 class="foto"> {{ usuarioRegistrado.foto }}</h1>
        <h1 class="nombre">Nombre Alumno: {{ usuarioRegistrado.nombre }} {{ usuarioRegistrado.apellido }}</h1>
        <h1 class="rut">Rut: {{ usuarioRegistrado.rut }}</h1>
        <h1 class="region">Región: {{ usuarioRegistrado.regiones }}</h1>
        <h1 class="comuna">Comuna: {{ usuarioRegistrado.comunas }}</h1>
        <h1>Geolocalizacion</h1>
        <p><strong>Latitud:</strong> {{ latitud }}</p>
        <p><strong>Longitud:</strong> {{ longitud }}</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>